#emoji_picker {
    width: 300px;
    height: 300px;
    background-color: var(--modal-background);

    border: 5px solid var(--accent-color);
    border-radius: 15px;

    position: absolute;
    right: 10px;
    top: -320px;

    overflow: hidden;

    padding: 2px;
}

#button_container {
    display: flex;
    justify-content: center;

    height: inherit;

    flex-wrap: wrap;

    overflow: scroll;

    align-content: flex-start;
}

.emoji_button {
    width: 50px;
    height: 50px;

    background-color: inherit;

    margin: 3px;

    border: 2px solid var(--accent-color);
    border-radius: 10px;

    font-size: 25px;
    text-align: center;
    line-height: 50px;

    cursor: pointer;
}

.emoji_button:hover {
    background-color: var(--accent-color);
}

#emoji_list {
    min-height: 40px;

    border: 5px solid var(--accent-color);
    border-radius: 10px;
}

#emoji_list_element {
    height: 40px;

    line-height: 35px;

    color: var(--text-color);

    /* cursor: pointer; */
}

#emoji_list_element:hover {
    background-color: var(--hover-color);
}

#emoji_searchbar {
    width: 100%;
    height: 36px;
    font-size: medium;

    border: none;
    background-color: var(--modal-background);
    color: var(--text-color);
}

#emoji_searchbar:focus {
    outline: none;
}

#emoji_picker_button {
    font-size: 20px;

    border: 5px solid var(--background-color);
    border-radius: 10px;
}