body {
    display: flex;
    flex-direction: column;

    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    background-color: var(--background-color);
}

#inputareaouter {
    width: 100%;
    margin-top: auto;
}

#inputarea {
    display: flex;
    align-items: center;
    gap: 8px;

    margin: 10px;

    position: relative;
}

#loginarea {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;

    margin: 10px;
}

#messagebox {
    flex: 1;
    min-width: 0px;
    resize: none;

    min-height: 38px;

    color: var(--text-color);
    background-color: var(--background-color);

    border: 5px solid var(--accent-color);
    border-radius: 10px;
}

.messageoptions {
    display: none;
}

.message {
    position: relative;

    padding: 5px 0 0 0;

    color: var(--text-color);
}

.message:hover {
    background-color: var(--hover-color);
}

.message:hover .messageoptions {
    display: block;
    position: absolute;

    top: 0px;
    right: 10px;
}

[hidden]{
  display:none !important;
}

#replybox {
    position: relative;
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    padding: 5px;
    margin: 9px;

    color: var(--text-color);

    display: flex;
}

#replybox:hover {
    background-color: var(--accent-color);
}

#postlist {
    overflow: scroll;
}

blockquote {
    border-left: 2px solid var(--accent-color);
    padding-left: 5px;
}

button {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 10px solid var(--background-color);
    border-radius: 10px;
}

button:hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}