body {
    display: flex;
    flex-direction: column;

    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

#inputareaouter {
    width: 100%;
    margin-top: auto;
}

#inputarea {
    display: flex;
    align-items: center;
    gap: 8px;

    margin: 10px;

    position: relative;
}

#loginarea {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;

    margin: 10px;
}

#messagebox {
    flex: 1;
    min-width: 0px;
    resize: none;

    min-height: 38px;
}

.messageoptions {
    display: none;
}

.message {
    position: relative;

    padding: 5px 0 0 0;
}

.message:hover {
    background-color: lightgray;
}

.message:hover .messageoptions {
    display: block;
    position: absolute;

    top: 0px;
    right: 10px;
}

[hidden]{
  display:none !important;
}

#replybox {
    position: relative;
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 5px;
    margin: 9px;

    display: flex;
}

#cancel_reply {
    position: absolute;
    right: 10px;
}

#postlist {
    overflow: scroll;
}

blockquote {
    border-left: 2px solid #ccc;
    padding-left: 5px;
}