a[data-color] {
    text-decoration: none;

    border-radius: 5px;
    
    color: black;
}

a[data-color]:visited {
    color: black;
}

a[data-color="red"] {
    background-color: rgb(248, 113, 113);
}
a[data-color="orange"] {
    background-color: rgb(251, 146, 60);
}
a[data-color="yellow"] {
    background-color: rgb(250, 204, 21);
}
a[data-color="green"] {
    background-color: rgb(74, 222, 128);
}
a[data-color="teal"] {
    background-color: rgb(45, 212, 191);
}
a[data-color="cyan"] {
    background-color: rgb(34, 211, 238);
}
a[data-color="blue"] {
    background-color: rgb(96, 165, 250);
}
a[data-color="indigo"] {
    background-color: rgb(129, 140, 248);
}
a[data-color="violet"] {
    background-color: rgb(167, 139, 250);
}
a[data-color="purple"] {
    background-color: rgb(192, 132, 252);
}
a[data-color="fuchisa"] {
    background-color: rgb(232, 121, 249);
}
a[data-color="pink"] {
    background-color: rgb(244, 114, 182);
}
a[data-color="gray"] {
    background-color: rgb(155, 162, 174);
}

a[data-color] {
    border: 2px solid rgba(0,0,0, 0);
}

.message:has(span span[data-highlight="yes"]) {
    background-color: lightyellow;
}

p {
    background-color: inherit;
}